{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">

    <div class="ficha-form-card">

        <div class="section-header-premium">

            <div class="section-icon blue">
                <i class="fa-solid fa-file-medical"></i>
            </div>

            <div>

                <h5>

                    {% if documento %}
                        Editar Documento
                    {% else %}
                        Novo Documento
                    {% endif %}

                </h5>

                <p>
                    Documento clínico do paciente.
                </p>

            </div>

        </div>

        <form method="POST">

            {% csrf_token %}

            <div class="mb-4">

    <label class="anamnese-label">
        Modelo de Documento
    </label>

    <select
        name="template"
        class="anamnese-input"
    >

        <option value="">
            Documento Livre
        </option>

        {% for template in templates %}

        <option value="{{ template.id }}">

            {{ template.nome }}

        </option>

        {% endfor %}

    </select>

</div>

            <label class="anamnese-label">
                Título
            </label>

            <input
                type="text"
                name="titulo"
                class="anamnese-input"
                value="{{ documento.titulo|default:'' }}"
                required
            >

            <div class="mt-4">

                <textarea
                    id="editor"
                    name="conteudo"
                >
                    {{ documento.conteudo|default:'' }}
                </textarea>

            </div>

            <div class="d-flex justify-content-end mt-4">

                <button
                    type="submit"
                    class="btn-anamnese"
                >

                    <i class="fa-solid fa-floppy-disk"></i>

                    Salvar Documento

                </button>

            </div>

        </form>

    </div>

</div>

<script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>

<script>

ClassicEditor
    .create(
        document.querySelector('#editor')
    )
    .catch(error => {
        console.error(error);
    });

</script>

{% endblock %}