{% extends 'accounts/base.html' %}

{% block content %}

<script>

    document.addEventListener('DOMContentLoaded', function () {

        console.log('JS Fornecedor carregado');

        function mascaraCNPJ(valor) {

            valor = valor.replace(/\D/g,'').substring(0,14);

            valor = valor.replace(/^(\d{2})(\d)/, '$1.$2');
            valor = valor.replace(/^(\d{2})\.(\d{3})(\d)/, '$1.$2.$3');
            valor = valor.replace(/\.(\d{3})(\d)/, '.$1/$2');
            valor = valor.replace(/(\d{4})(\d)/, '$1-$2');

            return valor;

        }

        function mascaraTelefone(valor) {

            valor = valor.replace(/\D/g,'').substring(0,11);

            if (valor.length <= 10) {

                valor = valor.replace(
                    /^(\d{2})(\d)/,
                    '($1) $2'
                );

                valor = valor.replace(
                    /(\d{4})(\d)/,
                    '$1-$2'
                );

            } else {

                valor = valor.replace(
                    /^(\d{2})(\d)/,
                    '($1) $2'
                );

                valor = valor.replace(
                    /(\d{5})(\d)/,
                    '$1-$2'
                );

            }

            return valor;

        }

        const cnpj = document.getElementById('cnpj');
        const telefone = document.getElementById('telefone');
        const celular = document.getElementById('celular');

        if (cnpj) {

            cnpj.addEventListener('input', function () {

                this.value = mascaraCNPJ(this.value);

            });

        }

        if (telefone) {

            telefone.addEventListener('input', function () {

                this.value = mascaraTelefone(this.value);

            });

        }

        if (celular) {

            celular.addEventListener('input', function () {

                this.value = mascaraTelefone(this.value);

            });

        }

    });

</script>



<div class="container-fluid">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h1>Novo Fornecedor</h1>

        <a href="{% url 'fornecedores' %}" class="btn btn-secondary">

            Voltar

        </a>

    </div>

    <div class="card shadow-sm">

        <div class="card-body">

            <form method="POST">

                {% csrf_token %}

                <div class="row">

                    <div class="col-md-6 mb-3">

                        <label class="form-label">
                            Nome Fantasia
                        </label>

                        <input type="text" name="nome" class="form-control" required>

                    </div>

                    <div class="col-md-6 mb-3">

                        <label class="form-label">
                            Razão Social
                        </label>

                        <input type="text" name="razao_social" class="form-control">

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4 mb-3">

                        <label class="form-label">
                            CNPJ
                        </label>

                        <input type="text" id="cnpj" name="cnpj" class="form-control" maxlength="18">

                    </div>

                    <div class="col-md-4 mb-3">

                        <label class="form-label">
                            Contato
                        </label>

                        <input type="text" name="contato" class="form-control">

                    </div>

                    <div class="col-md-4 mb-3">

                        <label class="form-label">
                            E-mail
                        </label>

                        <input type="email" name="email" class="form-control">

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6 mb-3">

                        <label class="form-label">
                            Telefone
                        </label>

                        <input type="text" id="telefone" name="telefone" class="form-control" maxlength="14">
                    </div>

                    <div class="col-md-6 mb-3">

                        <label class="form-label">
                            Celular
                        </label>

                        <input type="text" id="celular" name="celular" class="form-control" maxlength="15">

                    </div>

                </div>

                <hr>

                <button type="submit" class="btn btn-primary">

                    Salvar Fornecedor

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}