{% extends 'accounts/base.html' %}

{% block content %}

<div class="d-flex justify-content-between mb-3">

    <h3>

        Receitas - {{ paciente.nome }}

    </h3>

    <a
        href="{% url 'nova_receita' paciente.id %}"
        class="btn btn-primary"
    >
        Nova Receita
    </a>

</div>

<table class="table">

    <thead>

    <tr>

        <th>Medicamento</th>

        <th>Quantidade</th>

        <th>Data</th>

        <th width="220">Ações</th>

    </tr>

</thead>

<tbody>

    {% for receita in receitas %}

    <tr>

        <td>{{ receita.medicamento }}</td>

        <td>{{ receita.quantidade }}</td>

        <td>{{ receita.criado_em|date:"d/m/Y" }}</td>

        <td>

            <a
                href="{% url 'editar_receita' receita.id %}"
                class="btn btn-sm btn-primary"
            >
                Editar
            </a>

             <a
                href="{% url 'imprimir_receita' receita.id %}"
                class="btn btn-sm btn-success"
            >
                PDF
            </a>

            <a
                href="{% url 'excluir_receita' receita.id %}"
                class="btn btn-sm btn-danger"
            >
                Excluir
            </a>

        </td>

    </tr>

    {% empty %}

    <tr>

        <td colspan="4">

            Nenhuma receita cadastrada.

        </td>

    </tr>

    {% endfor %}

</tbody>

</table>

{% endblock %}